div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

@media screen and (-webkit-min-device-pixel-ratio:400px) and (min-resolution:.001dpcm) {
    #not-chrome {
        display: none !important;
    }
}